@page "/usuarios"
@using miggo.adminitrativo.Pages.Solicitacoes.Components
@using miggo.adminitrativo.Pages.Usuarios.Components

<PageTitle>Lista de Usuarios</PageTitle>

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 text-gray-800">Gerenciamento de usuários</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCriarUsuario">
           Novo usuário
        </button>
    </div>
    <div class="row">
        <!-- Barra Lateral de Filtros -->
        <div class="col-lg-2 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
                </div>
                <div class="card-body">
                    <!-- Filtro por ID -->
                    <div class="form-group">
                        <label for="filtroId">ID do Usuário</label>
                        <input type="text" class="form-control" id="filtroId" placeholder="Digite o ID">
                    </div>

                    <!-- Filtro por Nome -->
                    <div class="form-group">
                        <label for="filtroCliente">Nome</label>
                        <input type="text" class="form-control" id="filtroCliente" placeholder="Nome do Usuário">
                    </div>

                    <!-- Filtro por Código -->
                    <div class="form-group">
                        <label for="filtroCliente">Código</label>
                        <input type="text" class="form-control" id="filtroCliente" placeholder="Código do Usuario">
                    </div>

                    
                    <!-- Botão para Filtrar -->
                    <button class="btn btn-primary btn-block mt-3" @onclick="FiltrarSolicitacoes">Filtrar</button>
                </div>
            </div>
        </div>

        <!-- Tabela de Solicitações -->
        <div class="col-lg-10">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Código</th>
                                    <th>Função</th>
                                    <th>Qtd. de serviços</th>
                                    <th>Data Criação</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>João Silva</td>
                                    <td>34370</td>
                                    <td>Designer</td>
                                    <td>10</td>
                                    <td>2024-10-15</td>
                                    <td>
                                        <i data-bs-toggle="modal" data-bs-target="#modalEditarUsuario" class="bi bi-pencil fs-5"></i>
                                        <i data-bs-toggle="modal" data-bs-target="#modalExcluirUsuario" class="bi bi-x fs-8 text-danger ms-3"></i>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ModalCriarUsuario/>
<ModalExcluirUsuario/>
<ModalEditarUsuario/>

@code {
    // Método para filtrar as solicitações
    private void FiltrarSolicitacoes()
    {
        // Adicione aqui a lógica para aplicar os filtros conforme necessário.
        // Pode envolver a captura dos valores dos campos e a atualização da lista de solicitações.
    }
}
