<div class="d-flex vh-100" id="wrapper">
    <!-- Sidebar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-column vh-100" id="sidebar-wrapper">
        <!-- Brand -->
        <div>
            <a class="navbar-brand text-white text-center d-flex flex-column align-items-center my-4" href="#">
                <img src="img/Logo Miggo.png" alt="Logo" class="img-fluid mb-2" style="width:150px;">
            </a>
            <!-- Menu Items -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-column w-100">
                    <li class="nav-item">
                        <a href="/solicitacoes" class="nav-link text-white text-center">Solicitações</a>
                    </li>

                    <!-- Adicione mais itens aqui conforme necessário -->
                </ul>
            </div>
        </div>



    </nav>

    <!-- Conteúdo Principal -->
    <div id="page-content-wrapper" class="flex-grow-1">
    </div>
</div>
