<div class="d-flex vh-100" id="wrapper">
    <!-- Sidebar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-column vh-100" id="sidebar-wrapper">
        <div>
            <a class="navbar-brand text-white text-center d-flex flex-column align-items-center my-4" href="#">
                <img src="img/Logo Miggo.png" alt="Logo" class="img-fluid mb-2" style="width:150px;">
            </a>
            <!-- Menu Items -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-column w-100">
                    <li class="nav-item">
                        <a href="/solicitacoes" class="nav-link text-white text-center">Solicitações</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link text-white text-center dropdown-toggle" id="criacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Criações
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="criacoesDropdown">
                            <li><a class="dropdown-item" href="/nova-criacao">Novas Criações</a></li>
                            <li><a class="dropdown-item" href="/criacoes-retornadas">Criações Retornadas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link text-white text-center dropdown-toggle" id="aprovacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Aprovações
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aprovacoesDropdown">
                            <li><a class="dropdown-item" href="/aprovacoes">Consultar Aprovações</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/clientes" class="nav-link text-white text-center">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuarios" class="nav-link text-white text-center">Usuários</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Conteúdo Principal -->
    <div id="page-content-wrapper" class="flex-grow-1">
    </div>
</div>
